Question 1. (20 points). Which of the following statements contain only valid built- in functions in Python 3? If the statement is valid, explain what it does. If it is not valid, explain why not.

1.1 "A".isupper()

1.2 print "This is my Python class";

1.3 x == 1 AND y > x

1.4  return t [1:]

1.5  if "fruit" in "apple":

1.6  with open("myfile.txt", "r") as f:

  text = f.read().decode("UTF-8")
  
1.7 foo == None

1.8 name = "My name is Brenda" name[0] = "A"

1.9  x = 3
       x ** 3
       
1.10	20%7

In [16]:
#1.1 "A".isupper() is correct. isupper()is a built-in method to handle string. When the characters are capitalized, it will return true. Lowercase will return false. Another way to handle sting input is as follows:
"A".isupper()

True

In [17]:
string ="A"
print(string.isupper())

True

In [18]:
#1.2 print "This is my Python Class"; is not valid because it is missing a parenthesis. 
print ("This is my Python Class");

This is my Python Class

In [25]:
#1.3 x==1 AND y > x is incorrect, because the variables have to be defined first. 
#The operators == and > should not be used in the same statement with AND in between
#A possible solution is:

x = 1
y = 2
y >= x

True

In [0]:
#1.4 return t[1:], according to the Python Documentation: return may only occur syntactically nested in a function definition, not within a nested class definition. (Reference:https://docs.python.org/2.0/ref/return.html)
# The following is an example of using return within a function
def t():
  return t

In [0]:
#1.5 if "fruit" in "apple": statement can be interpret as a conditional statments, therefore we need to provide an instruction on what to do next
#An example to make it a valid function
if "fruit" in "apple":
  print('apple is a fruit')

In [17]:
#1.6 open() is a built-in function to open a file with a "with" statement. .decode is a method to decodes the string 
# It could be simplify to the following
f = open ("myfile.txt", "r", encoding="UTF-8")

FileNotFoundError: ignored

In [19]:
#1.7 == is operator to check if two values are equal or not to produce a True or False statement. There is not a function in this statement
foo == NONE

NameError: ignored

In [38]:
#1.8 name is given the value in a string format. The second statement is looking for the first character in the string
#If we use the original name[0], it will return 'M'
name = "My name is Brenda"
name[0]
#Or if we want to return 'a'
name[4]
#If the return value has to be capitalized
name[4].capitalize()

'A'

In [39]:
#1.9 This statement defines x and then apply exponent of 3 to the value. ** is the exponent operator.
x=3
x**3

27

In [40]:
#1.10 This statement utilize the operator % modulus which divides left side by right side and returns remainder.
20%7

6

Question 2. (15 points). Write a program to prompt for a score between 0 and 100. If the score is out of range, print an error message. If the score is between 0 and 100, print a grade using the following table:
 
Score	| Grade
---|---
>=90|A
>= 80|B
>= 70|C
>= 60|D
< 60|F

In [29]:
print('Enter a score between 0 and 100 to receive a letter grade')
n = int(input())
if n < 100 and n >=90:
      print("A")
elif n >=80 and n<90:
      print("B")
elif n >= 70 and n<80:
      print("C")
elif n >=60 and n<70:
      print("D")
elif n <60 and n >=0:
      print("F")
else: 
      print('Error, enter score between 0 and 100 only')

Enter a score between 0 and 100 to receive a letter grade
65
D

Question 3. (20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [60]:
import random
list1 = [random.randint(1, 100) for i in range(12)]
list1.sort()
print("List 1, Ascending Order", list1)
list1.sort(reverse = True)
print("List 1, Descending Order", list1)
sum = 0
for num in list1:
  sum = sum + num 
  average = sum/12
print("Average for the group is: ", average)

List 1, Ascending Order [13, 14, 21, 35, 40, 43, 69, 69, 75, 79, 90, 91]
List 1, Descending Order [91, 90, 79, 75, 69, 69, 43, 40, 35, 21, 14, 13]
Average for the group is:  49.15384615384615

Question 4. (20 points). The formula that describes the volume V of a sphere with radius r is the following:

$V =\frac{4*\pi*r^3}{3}$


Write a program to calculate the value of V when r is in the range of 1– 10. Output the result in the following format:

r	| V
---|---
1|	…
2|…
3|	…

In [11]:
import math
r = range (1, 11)
print('r', '\t', 'V')
for i in r:
  v = (4/3)*math.pi*(pow(i, 3))
  print(i, '\t', v)

r 	 V
1 	 4.1887902047863905
2 	 33.510321638291124
3 	 113.09733552923254
4 	 268.082573106329
5 	 523.5987755982989
6 	 904.7786842338603
7 	 1436.7550402417319
8 	 2144.660584850632
9 	 3053.6280592892786
10 	 4188.790204786391

In [8]:
#import math  ##Error message in this code
#def vol_sphere(r):
#  v = (4/3)*math.pi*(pow(r, 3))  TypeError: unsupported operand type(s) for ** or pow(): 'range' and 'int'
#  return v

#for i in range(1,11):
  print (i)
#vol_sphere(r)  TypeError: unsupported operand type(s) for ** or pow(): 'range' and 'int'

TypeError: ignored

Question 5. (25 points). Write a program that will do the following string formatting tasks:

5.1 Ask the user to enter two sentences

5.2 Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This
is my first python program", the program should print out ['Alas!', 'Am', 'I',
'alive?', 'This', 'is', 'my', 'first', 'python', 'program'] or ['Alas, '!', 'Am', 'I', 'alive,
'?', 'This', 'is', 'my', 'first', 'python', 'program']

5.3 Compare the two sentences. Print out a list of words that occur in both
sentences.

5.4 Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

5.5 Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as:  a:2, e:1, i:0, etc.

In [22]:
print('Enter two sentences below')
sentence = input()
words = sentence.split()
print (words) #5.2

set(words) 
print(set(words))#5.3

from string import punctuation
line = sentence
' '.join(word.strip(punctuation) for word in line.split() 
             if word.strip(punctuation))       #5.4

Enter two sentences below
I am here. Where are you, here?
['I', 'am', 'here.', 'Where', 'are', 'you,', 'here?']
{'I', 'am', 'are', 'you,', 'here.', 'Where', 'here?'}

'I am here Where are you here'

In [24]:
print('Enter two sentences below')
sentence = input()
words = sentence.split()
print (words) #5.2

set(words) 
print(set(words))#5.3

from string import punctuation
line = sentence
' '.join(word.strip(punctuation) for word in line.split() 
             if word.strip(punctuation))       #5.4 for some reason when it is combined with 5.5. the output disappear. 

#5.5
vowels = 'aeiouAEIOU' 
count = {}.fromkeys(vowels, 0)
  
for character in sentence:
  if character in count:
    count[character] += 1
      
print (count)

Enter two sentences below
I am here, where are you?
['I', 'am', 'here,', 'where', 'are', 'you?']
{'where', 'I', 'am', 'here,', 'are', 'you?'}
{'a': 2, 'e': 5, 'i': 0, 'o': 1, 'u': 1, 'A': 0, 'E': 0, 'I': 1, 'O': 0, 'U': 0}